#app{
    width: 1000px;
    height: 580px;
    margin: 0 auto;
}
#leftDiv{
    width: 300px;
    height: 580px;
    float: left;
    /*background-color: #f5e79e;*/
    padding-top: 20px;
    padding-left: 20px;
    border:1px solid #D8D8D8
}
#rightDiv{
    width: 700px;
    height: 580px;
    float: right;
    /*background-color: #1b6d85;*/
    border:1px solid #D8D8D8;
    padding-left: 50px;
    padding-top: 5px;
}
#headerDiv{
    height: 100px;
    width: 160px;
    float: right;
    padding-left: 30px;
    padding-top: 50px;
}
.jiduDiv{
    height: 10px;
    width: 400px;
    float: left;
}
#jinduRight{
    height: 50px;
    width: 240px;
    float: right;
    margin-top: -28px;
}
#rightTop{
    height: 30px;
    width: 100%;
}